*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

header{
    padding: 15px 0;
    background-color: #e5e5e5;
}
.container{
    width: calc(100% - 100px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/**header start**/
img{
    max-width: 100%
}

.logo{
    width: 15%;
    flex: 0 0 auto;
}
nav{width: 85%;flex: 0 0 auto;}
nav ul{
    justify-content: flex-end;
}
li{
    list-style: none;
}
nav ul li a{
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 30px;
    display: block;
    transition-duration: 1s;
}
nav ul li a:hover{
    background-color: grey;
    color: white;
    border-radius: 100px 100px;
}
/**header end**/

/**banner start**/
.banner img{
    width: 100%
}

/**banner end**/

/**Blog Section start**/
.col-1{
    width: 100%;
    flex: 0 0 auto;
    padding: 20px 100px;
}
.col-2{
    padding: 50px;
    width: 50%;
    flex: 0 0 auto;
}
article span{
    text-transform: uppercase;
    color: #3333334a;
    display: block;
    font-weight: 600;
    margin-top: 35px;
    font-weight: 600;
}
article h1{
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0;
    font-size: 28px;
}
article p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
article a{
    text-transform: uppercase;
    color: #3333334a;
    text-decoration: none;
    display: block;
    margin-top: 45px;
    font-weight: 600;
}
article img{
    width: 100%;
    display: block;
}
article h1 a{
    color: #333;
    text-transform: initial;
    font-size: 29px;
}

.pad-left{
    padding-left: 100px;
}
.pad-right{
    padding-right: 100px;
}
/**Blog Section end**/


/**footer start**/
footer .col-2{
    padding: 5px 130px;
}
footer.container.flex {
    width: 100%;
    background-color: #e7e3e3;
}
ul.footer-menu li a{
    display: block;
    color: #5c5959;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 25px;
}
ul.footer-menu li a:hover{
    opacity: 0.5;
    color: black;
}

ul.social-link{
    justify-content: flex-end;
}
ul.social-link li span{
    display: block;
    color: #5c5959;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 20px;
}
ul.social-link li a{
    display: block;
    color: #535151;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 20px;
    transition-duration: 1s;
}
ul.social-link li a:hover{
    opacity: 0.5;
}
/**footer end**/